
main{
    text-align: center;

}

body{
    background-color: rgb(34, 33, 33);
}

a{
  color: rgb(24, 238, 113);
  text-align: center;
}

h1,h2,h3, main{
  color: whitesmoke;
}

img{
  width: 100px;
  height: 50px;
  margin-bottom: 0.50%;
  margin-right: 0.50%;
}

.container {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .typing-loop {
    font-family: monospace;
    color: whitesmoke;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    animation: typing 4s steps(36, end) 1 forwards, blink-caret 0.75s step-end 5;
  }

  @keyframes typing {
    from { width: 0ch; }
    to { width: 50ch; } /* Número de caracteres da frase */
  }

  @keyframes blink-caret {
    0%, 100% { border-color: transparent; }
    50% { border-color: black; }
  }

  .classFooter{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(236, 229, 229);
    color: black;
    text-align: center;
  }

  .flex-container > div{
    background-color: black;
    color: whitesmoke;
    width: 30%;
    margin: 10px;
  }

  .projTit{
    justify-content: Center;
    text-decoration: whitesmoke;
    text-align: center;
    font-family: monospace;
  }

  .projdescricao{
    text-align: left;
    margin-left: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-right: 2%;
    font-family: monospace;
  }


  